# IntelliJ related
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
pubspec.lock

example/.dart_tool/
example/build/

# Android related
android/.classpath
android/.idea
android/.project
android/.settings

example/android/.project
example/android/.settings
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings

# iOS/XCode related
example/ios/Podfile.lock